@page
@model GroupProject.Pages.LoginModel
@{
  Layout = "_Login2Layout";
}
<style>
  
  body{
  background:url("assets/media/login/background.mp4") ;
  }

	.form-box {
    max-width: 550px;
    background: #f1f7fe;
    overflow: hidden;
    border-radius: 50px;
    color: #010101;
    height: 550px;
  }
  
  .form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
  }
  
  /*Form text*/
  .title {
    font-weight: bold;
    font-size: 3.6rem;
  }
  
  .subtitle {
    font-size: 3rem;
    color: #666;
  }
  
  /*Inputs box*/
  .form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
  }
  
  .input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: 1.9rem;
    padding: 8px 15px;
  }
  
  .form-section {
    padding: 16px;
    font-size: 1.85rem;
    background-color: #e0ecfb;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
  }
  
  .form-section a {
    font-weight: bold;
    color: #0066ff;
    transition: color .3s ease;
  }
  
  .form-section a:hover {
    color: #005ce6;
    text-decoration: underline;
  }
  
  /*Button*/
  .form button {
    background-color: transparent;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 2.3rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
  }
  .form button:hover {
    color: #b02222;
    background-color: transparent;
    }
  .success {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #EDFBD8;
    border-radius: 8px;
    border: 1px solid #84D65A;
    box-shadow: 0px 0px 5px -3px #111;
    
  }
  
  .success__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
  }
  
  .success__icon path {
    fill: #84D65A;
  }
  
  .success__title {
    font-weight: 500;
    font-size: 14px;
    color: #2B641E;
  }
  
  .success__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
  }
  
  .success__close path {
    fill: #2B641E;
  }
  .main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .center-container {
      margin-bottom: -20rem; /* Adjust the value as needed */
  }
  
  .success {
      /* Your existing styles */
      margin-top: 20px; /* Optional: to add some space between the form and the message */
  }
  
  .text-danger{
  color: red;
  }
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    margin: 20px auto;
    transform: translate(-50%, -55%);
    background: linear-gradient(135deg,rgb(30 52 120 / 22%),rgba(255,255,255,0));
    box-sizing: border-box;
    border-radius: 20px;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border: 1px solid rgba(255,255,255,0.18);
  }
  
  .login-box p:first-child {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .login-box h1{
  color: white;
  font-size: medium;
  }
  
  .login-box .user-box {
    position: relative;
  }
  .login-box input {
  background: transparent;
  }
  .login-box input:focus{
  background: transparent;
  }
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #fff;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 3px
  }
  
  .login-box a:hover {
    background: transparent;
    color: #272727;
    border-radius: 5px;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ff0000);
    animation: btn-anim1 1.5s linear infinite;
  }
  
  @@keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffffff);
    animation: btn-anim2 1.5s linear infinite;
    animation-delay: .375s
  }
  
  @@keyframes btn-anim2 {
    0% {
      top: -100%;
    }
  
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #003fbe);
    animation: btn-anim3 1.5s linear infinite;
    animation-delay: .75s
  }
  
  @@keyframes btn-anim3 {
    0% {
      right: -100%;
    }
  
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: btn-anim4 1.5s linear infinite;
    animation-delay: 1.125s
  }
  
  @@keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
  
    50%,100% {
      bottom: 100%;
    }
  }
  
  .login-box p:last-child {
    color: #aaa;
    font-size: 14px;
  }
  
  .login-box a.a2 {
    color: #fff;
    text-decoration: none;
  }
  .password-strength p {
  font-size: small;
  }
  .login-box a.a2:hover {
    background: transparent;
    color: #aaa;
    border-radius: 5px;
  }
  .input::placeholder {
      color: white;
      opacity: 1; /* Firefox */
      background: transparent;
  }
  
  /* For Internet Explorer 10-11 */
  :-ms-input-placeholder {
      color: white;
      background: transparent;
  }
  
  /* For Microsoft Edge */
  ::-ms-input-placeholder {
      color: white;
      background: transparent;
  }
      </style>
      @* <div class="center-container"> *@
      @*     <div class="form-box"> *@
      @*         <form class="form" method="post"> *@
      @*             <span class="title">Sign up</span> *@
      @*             <span class="subtitle">Create a free account with your email.</span> *@
      @*             <div id="passwordStrength">Password strength: <span></span></div> *@
      @* *@
      @*             <div class="form-container"> *@
      @*                 <input asp-for="Name" class="input" placeholder="Full Name"> *@
      @*                 <span asp-validation-for="Name" class="text-danger"></span> *@
      @* *@
      @*                     <input asp-for="Email" class="input" placeholder="Email" id="emailInput"> *@
      @*                     <span id="emailError" class="text-danger"></span> *@
      @* *@
      @* *@
      @*                 <input asp-for="Password" class="input" placeholder="Password" type="password"> *@
      @*                 <span asp-validation-for="Password" class="text-danger"></span> *@
      @*             </div> *@
      @*             <button type="submit">Sign up</button> *@
      @*         </form> *@
      @*         <div class="form-section"> *@
      @*             <p>Have an account? <a href="">Log in</a> </p> *@
      @*         </div> *@
      @*     </div> *@
@* </div> *@
<video autoplay muted loop id="myBackgroundVideo">
        <source src="assets/media/login/background.mp4" type="video/mp4">
    </video>
      <div class="login-box">
        <p>Login</p>
        <form class="form" method="post">
          
            <div class="user-box">
                <input required asp-for="employee.Username" class="input" placeholder="Username" id="usernameInput" value="andrei">
                <span id="emailError" class="text-danger"></span>
            </div>
          <div class="user-box">
            <input asp-for="employee.Password" class="input" placeholder="Password" type="password" value="1234">
            <span asp-validation-for="employee.Password" class="text-danger"></span>
          </div>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
              <button type="submit">Login</button>    
              </a>
        </form>
      </div>
<!--=====================================-->
<!--=           Footer Area Start       =-->
<!--=====================================-->
<footer class="footer">
  <div class="footer-bottom bg-color-black">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="footer-copyright">
            <span class="copyright-text">Copyright © <a href="/Index">Media Bazaar</a>. All Rights Reserved</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-main style-1">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-5 col-sm-12 col-12">
          <div class="footer-widget">
            <p class="mb-5">Disclaimer: This site does not store any files on its server. All contents are provided by non-affiliated third parties.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Jquery Js -->
<style>
#myBackgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}
      footer{
          position: fixed;
          transform: translateY(360%);
          width: 100%;
      }
</style>